html,
body {
    overflow-x: hidden;
}

#header {
    width: 1512px;
    max-width: 1512px;
    justify-content: center;
    margin: 0 auto;

    .head {
        width: 1512px;
        max-width: 100%;
        flex-direction: row;
        padding: 0 40px;
        justify-content: space-between;

        &-left {
            padding-top: 40px;
            width: 117px;
            height: 53px;
            justify-content: flex-start;
            position: fixed;
            top: 0px;


        }

        &-right {
            max-width: 100%;
            flex-direction: row;
            gap: 15px;
            white-space: nowrap;
            padding-top: 50px;
            padding-right: 40px;
            position: fixed;
            top: 0px;
            right: 0;
            justify-content: end;




            p {
                color: #000;

                font-size: 20px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
            }



        }



        &-btn {
            width: 150px;
            z-index: 3;
            display: none;

            font-size: 32px;

            #menu-button {
                font-size: 32px;
            }

        }

        &-mobile {

            display: none;
            position: fixed;
            width: 70%;
            height: 800px;
            background: #ffffff;
            padding: 280px 0px 300px 130px;
            left: 30%;
            align-items: flex-start;
            justify-content: center;
            z-index: 2;
            flex: 1;




            p {
                color: #000000;
                font-family: var(--s-font-838e4801);
                font-size: 16px;
                font-weight: 500;
                height: auto;
                letter-spacing: 0.05em;
                line-height: 1.4;
                width: 100%;
                max-width: 100%;
                margin-top: 20px;
            }

            .contact {
                overflow: hidden;
                flex-direction: row;
                gap: 24px;
                margin-top: 20px;
                justify-content: center;
                white-space: nowrap;
                overflow: visible;




                a {
                    background: #FFFFFF;
                    border: 1px solid #000;
                    border-radius: 4px;
                    padding: 12px 32px;
                }

                .contact-dl {

                    p {
                        margin-top: 0;
                        color: #000000;

                    }
                }

                .contact-dl2 {
                    background-color: #000000;

                    p {
                        margin-top: 0;
                        color: #ffffff;

                    }

                }
            }

            .smoke {
                width: 30%;
                height: 900px;
                background-color: #626262;
                position: fixed;
                left: 0;
                opacity: 0.3;
                z-index: 1;
            }

        }

    }
}

#section1 {
    width: 1512px;
    max-width: 100%;
    margin: 0 auto;
    height: 100dvh;
    overflow: visible;

    .section1-container {
        width: 100%;
        max-width: 100%;
        height: 100dvh;

        .main-text {
            position: absolute;
            top: 400px;
            left: 280px;
            white-space: nowrap;
            z-index: 20;
            font-family: League Spartan;
            font-size: 156px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            background: linear-gradient(86deg, #000 -1.4%, #837AA9 46.29%, #473398 91.08%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .line1 {
            width: 230px;
            height: 1px;
            flex-shrink: 0;
            background: linear-gradient(to right, #3E0070 0%, #96D3FF 65%, #101920 100%);
            position: absolute;
            top: 570px;
            left: 150px;
        }

        .line2 {
            width: 230px;
            height: 1px;
            flex-shrink: 0;
            background: linear-gradient(to right, #3E0070 0%, #96D3FF 65%, #101920 100%);
            position: absolute;
            top: 800px;
            right: 100px;
        }

        .effect1 {
            position: absolute;
            width: 50%;
            left: 140px;
            bottom: 80px;

        }

        .effect2 {
            position: absolute;
            left: 900px;
            bottom: 80px;
            width: 889px;
            height: 643px;
            border-radius: 889px;
            //#FFF1EA
            background: radial-gradient(50% 50% at 50% 50%, #000 0.01%, rgba(253, 253, 253, 0.00) 100%);
            mix-blend-mode: multiply;
            z-index: 1;
            flex-shrink: 0;

        }

        .mask1 {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 800px;
            top: 400px;
            background-image: url(images/Mask\ group-firsr.png);

            .no-webp & {
                background-image: url(mv.jpg);
            }
        }

        .effect3 {
            position: absolute;
            left: 850px;
            top: 500px;
            width: 737px;
            height: 643px;
            flex-shrink: 0;
            border-radius: 737px;
            background: radial-gradient(50% 50% at 50% 50%, #eeb84b 0.01%, rgba(253, 253, 253, 0.00) 100%);
            mix-blend-mode: lighten;
        }

        .effect4 {
            position: absolute;
            left: 650px;
            top: 700px;
            width: 737px;
            height: 643px;
            flex-shrink: 0;
            border-radius: 737px;
            //background: radial-gradient(50% 50% at 50% 50%, #EBF9FF 0%, #F1FBFF 0.01%, rgba(253, 253, 253, 0.00) 100%);
            background: radial-gradient(50% 50% at 50% 50%, #08a9ee 0%, #1982ac 0.01%, rgba(253, 253, 253, 0.00) 100%);
            mix-blend-mode: lighten;
        }

        .effect::before {
            content: "";
            position: absolute;
            width: 495px;
            height: 449px;
            left: -221px;
            top: -99px;
            border-radius: 495px;
            background: radial-gradient(50% 50% at 50% 50%, #FFFBF6 0%, #FFF6FD 0.01%, #FFF3F3 28.13%, rgba(253, 253, 253, 0.00) 100%);
            mix-blend-mode: multiply;

        }
    }

}

#section2 {
    width: 1040px;
    max-width: 100%;
    margin: 0 auto;

    .section2-container {
        padding-top: 160px;
        padding-bottom: 200px;
        margin: 0 32px;
        width: 1040px;
        max-width: 100%;
        align-items: flex-start;
        gap: 64px;

        .section-text {

            font-family: League Spartan;
            font-size: 24px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            margin-left: 16px;
            background: linear-gradient(86deg, #000 -1.4%, #837AA9 46.29%, #473398 91.08%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;


        }

        .text {
            width: 65%;
            font-family: A-OTF Gothic BBB Pr6;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 220%;
            letter-spacing: 0.9px;

            background: linear-gradient(90deg, #0F1134 32.39%, #535353 54.69%, #0F1134 73.81%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .effect5 {
            position: absolute;
            left: 400px;
            bottom: 100px;
            width: 1092px;
            height: 643px;
            flex-shrink: 0;
            border-radius: 1092px;
            background: radial-gradient(50% 50% at 50% 50%, #F3FBFF 0%, #F8FBFF 36.98%, rgba(253, 253, 253, 0.00) 100%);
            background: radial-gradient(50% 50% at 50% 50%, #1287c1 0%, #19539f 36.98%, rgba(253, 253, 253, 0.00) 100%);
            mix-blend-mode: multiply;

        }

        .line {
            bottom: 100px;
            left: -200px;
            width: 230px;
            height: 1px;
            flex-shrink: 0;
            background: linear-gradient(to right, #3E0070 0%, #96D3FF 65%, #101920 100%);
            position: absolute;


        }
    }
}

#section3 {
    width: 1512px;
    max-width: 100%;
    margin: 0 auto;

    .section3-container {
        padding-top: 104px;
        margin: 0 32px;
        width: 1040px;
        max-width: 100%;

        .mask2 {
            position: absolute;
            left: -460px;
            top: 120px;
            width: 100%;
            height: 100%;

        }

        .mask3 {
            position: absolute;
            left: -280px;
            top: 1800px;
            width: 64%;
            height: 100%;
            z-index: -1;

        }

        .mask4 {
            position: absolute;
            right: -250px;
            top: 1610px;
            width: 50%;
            height: 100%;
            z-index: -1;

        }




        .section-text {

            font-family: League Spartan;
            font-size: 24px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;

            background: linear-gradient(86deg, #000 -1.4%, #837AA9 46.29%, #473398 91.08%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            position: relative;
            right: 5%;

        }

        .effect6::before {
            content: "";
            position: absolute;
            right: 180px;
            top: -120px;
            width: 622px;
            height: 491.724px;
            background: url(images/effect9-after.png), lightgray 0px -61.307px / 100% 189.718% no-repeat;
            z-index: 0;
            opacity: 0.4;
        }

        .effect6::after {
            content: "";
            position: absolute;
            right: 180px;
            top: 0px;
            width: 664px;
            height: 380px;
            flex-shrink: 0;
            border-radius: 664px;
            background: radial-gradient(50% 50% at 50% 50%, #FFFBF6 0%, #FFF6FD 0.01%, #FFF3F3 28.13%, rgba(253, 253, 253, 0.00) 100%);
            background: radial-gradient(50% 50% at 50% 50%, #a8804f 0%, #bd2a9d 0.01%, #f74b4b 28.13%, rgba(253, 253, 253, 0.00) 100%);
        }

        .line {
            top: 10px;
            left: 7%;
            width: 230px;
            height: 1px;
            flex-shrink: 0;
            background: linear-gradient(to right, #3E0070 0%, #96D3FF 65%, #101920 100%);
            bottom: 300px;
        }

        .main {
            flex-direction: row;
            justify-content: space-between;
            margin-top: 72px;

            picture {
                width: 40%;
                z-index: 2;

                img {
                    width: 100%;
                    flex-shrink: 0;

                }
            }

            .effect7::before {
                content: "";
                position: absolute;
                right: -160px;
                top: -10px;
                width: 447.419px;
                height: 206.084px;
                flex-shrink: 0;
                border-radius: 447.419px;
                background: radial-gradient(50% 50% at 50% 50%, #FFFBF6 0%, #FFF6FD 0.01%, #FFF3F3 28.13%, rgba(253, 253, 253, 0.00) 100%);
                mix-blend-mode: multiply;
            }

            .main-right {
                width: 55%;
                gap: 32px;
                flex-direction: row;

                .number {
                    color: #101235;
                    font-family: League Spartan;
                    font-size: 96px;
                    font-style: normal;
                    font-weight: 100;
                    line-height: normal;
                    white-space: nowrap;
                    margin-bottom: 260px;
                }

                .content {
                    gap: 32px;
                    justify-content: flex-start;
                    align-items: flex-start;

                    &-title {
                        font-family: Noto Sans JP;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 36px;
                        letter-spacing: 2px;
                        background: linear-gradient(90deg, #0F1134 32.39%, #535353 54.69%, #0F1134 73.81%);
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }

                    &-text {
                        font-family: Noto Sans JP;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 28px;
                        letter-spacing: 0.7px;
                        background: linear-gradient(90deg, #0F1134 32.39%, #535353 54.69%, #0F1134 73.81%);
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }

                    .btn {
                        flex-direction: row;
                        width: 250px;
                        padding: 24px;
                        justify-content: space-between;
                        left: 45%;
                        cursor: pointer;


                    }

                    .line {
                        width: 250px;
                        height: 1px;
                        flex-shrink: 0;
                        background: linear-gradient(to right, #3E0070 0%, #96D3FF 65%, #101920 100%);
                        position: absolute;
                        top: 60px;
                        left: -16px;

                    }
                }
            }


        }

        .main02 {
            flex-direction: row-reverse;
            margin-top: 120px;
        }

        .main03 {
            margin-top: 120px;
            padding-bottom: 120px;

            img {
                z-index: 2;

            }

            .effect8::before {
                content: "";
                width: 495px;
                height: 449px;
                position: absolute;
                left: -221px;
                top: -199px;
                border-radius: 495px;
                background: radial-gradient(50% 50% at 50% 50%, #FFFBF6 0%, #FFF6FD 0.01%, #FFF3F3 28.13%, rgba(253, 253, 253, 0.00) 100%);
                mix-blend-mode: multiply;
            }

            .effect8::after {
                content: "";
                position: absolute;
                top: 30px;
                left: -250px;
                width: 230px;
                height: 1px;
                flex-shrink: 0;
                background: linear-gradient(to right, #3E0070 0%, #96D3FF 65%, #101920 100%);
                bottom: 300px;
                z-index: 2;
            }
        }

        .sub01 {
            margin-top: 72px;
            gap: 32px;

            h3 {
                background: linear-gradient(90deg, #0F1134 32.39%, #535353 54.69%, #0F1134 73.81%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-family: A-OTF Midashi Go MB1 Std;
                font-size: 16px;
                font-style: normal;
                font-weight: 505;
                line-height: 180%;
                /* 28.8px */
                letter-spacing: 0.8px;
            }

            .sub-container {
                flex-direction: row;
                gap: 32px;
                justify-content: space-between;

                .sub-content {
                    width: 300px;
                    gap: 16px;
                    text-align: center;

                    picture {
                        width: 100%;
                    }

                    p {
                        color: #0F1134;
                        text-align: center;
                        font-family: A-OTF Gothic BBB Pr5;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 170%;
                        /* 27.2px */
                        letter-spacing: 1.6px;
                    }
                }
            }
        }

    }
}

#section-table {
    width: 1512px;
    max-width: 100%;
    margin: 0 auto;

    .section-table-container {
        padding-top: 120px;
        padding-bottom: 120px;
        margin: 0 32px;
        width: 1040px;
        max-width: 100%;

        .section-text {

            font-family: League Spartan;
            font-size: 24px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;

            background: linear-gradient(86deg, #000 -1.4%, #837AA9 46.29%, #473398 91.08%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-bottom: 16px;


        }

        .line::before {
            content: "";
            width: 47px;
            height: 1px;
            flex-shrink: 0;
            background: linear-gradient(to right, #3E0070 0%, #96D3FF 65%, #101920 100%);

        }

        .line::after {
            content: "";
            position: absolute;
            left: 440px;
            top: 160px;
            width: 230px;
            height: 1px;
            flex-shrink: 0;
            background: linear-gradient(to right, #3E0070 0%, #96D3FF 65%, #101920 100%);

        }

        .table {
            margin-top: 104px;
        }

        .table-row {
            width: 670px;
            padding-left: 24px;
            flex-direction: row;
            border-bottom: #a4bccd 1px solid;
            align-items: flex-start;

            .row-left {
                width: 140px;
                padding: 16px 24px 16px 40px;
                align-items: flex-start;
                gap: 10px;

                p {
                    color: #101235;
                    text-align: center;
                    font-family: Noto Sans JP;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 200%;
                    letter-spacing: 0.7px;
                }
            }

            .row-right {
                width: 500px;
                padding: 16px 24px 16px 64px;
                align-items: flex-start;
                gap: 10px;
                white-space: nowrap;

                p {
                    color: #101235;
                    font-family: Noto Sans JP;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 200%;
                    letter-spacing: 0.7px;
                }
            }


        }

    }
}

#section-form {
    width: 1512px;
    max-width: 100%;
    margin: 0 auto;

    .img {
        width: 491px;
        height: 491px;
        position: absolute;
        right: 0;
        top: -220px;

    }

    .section-form-container {
        margin: 0 32px;
        width: 1040px;
        max-width: 100%;
        padding-top: 120px;
        padding-bottom: 264px;

        .section-text {
            margin-left: 104px;
            position: relative;
            right: 45%;
            font-family: League Spartan;
            font-size: 96px;
            font-style: normal;
            font-weight: 200;
            line-height: normal;
            background: linear-gradient(86deg, #000 -1.4%, #837AA9 46.29%, #473398 91.08%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-bottom: 16px;
        }

        .line {

            width: 247px;
            height: 1px;
            flex-shrink: 0;
            background: linear-gradient(to right, #3E0070 0%, #96D3FF 65%, #101920 100%);
            right: 650px;
        }

        .form {
            width: 500px;
            margin-top: 104px;



            &-row {
                align-items: flex-start;
                gap: 2px;
                margin-top: 24px;

                label {
                    color: #0F1134;
                    font-family: Noto Sans JP;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 200%;
                    /* 28px */
                    letter-spacing: 0.7px;
                }

                input,
                select {

                    width: 500px;
                    height: 48px;
                    border-radius: 8px;
                    border: 1px solid #415C84;
                    flex-shrink: 0;
                    padding-left: 16px;

                }



                textarea {

                    width: 500px;
                    border-radius: 8px;
                    padding-left: 16px;
                    padding-top: 8px;
                    border: 1px solid #415C84;
                    height: 225px;
                    flex-shrink: 0;
                }


            }

            .submit {
                margin-top: 24px;
                width: 500px;
                height: 55px;
                flex-shrink: 0;
                border-radius: 8px;
                border: 1px solid #415C84;
                flex-shrink: 0;
                padding-left: 16px;
                border-radius: 8px;
                background: linear-gradient(86deg, #837AA9 -1.4%, #334998 91.08%);
                color: #ffffff;

            }


        }
    }
}



#footer {
    height: 190px;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;

    .footer-container {
        height: 190px;
        width: 100%;
        max-width: 100%;
        background-color: #000;
        gap: 16px;
        justify-content: center;

        img {
            width: 117px;
            height: 53px;
        }

        .copy {
            color: #FFF;
            font-family: A-OTF Gothic BBB Pr6;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 200%;
            /* 24px */
            letter-spacing: 0.6px;
        }


    }
}

//選択肢の色変更
select#classification option.default {
    color: #888;
    /* グレー色に設定 */
    opacity: 0.4;
}