@charset "UTF-8";
html,
body {
  overflow-x: hidden;
}

#header {
  width: 1512px;
  max-width: 1512px;
  justify-content: center;
  margin: 0 auto;
  z-index: 5;
}
#header .head {
  width: 1512px;
  max-width: 100%;
  flex-direction: row;
  padding: 0 40px;
  justify-content: space-between;
}
#header .head-left {
  padding-top: 40px;
  width: 117px;
  height: 53px;
  justify-content: flex-start;
  position: fixed;
  top: 0px;
}
#header .head-right {
  max-width: 100%;
  flex-direction: row;
  gap: 15px;
  white-space: nowrap;
  padding-top: 50px;
  padding-right: 40px;
  position: fixed;
  top: 0px;
  right: 0;
  justify-content: end;
}
#header .head-right p {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
#header .head-btn {
  width: 100px;
  z-index: 6;
  display: none;
}
#header .head-btn #menu-button {
  font-size: 32px;
}
#header .head-mobile {
  display: none;
  width: 70%;
  height: 900px;
  background: #ffffff;
  align-items: flex-start;
  justify-content: center;
  z-index: 5;
  flex: 1;
}
#header .head-mobile p {
  color: #000000;
  font-family: var(--s-font-838e4801);
  font-size: 24px;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.05em;
  line-height: 1.4;
  width: 100%;
  max-width: 100%;
  margin-top: 20px;
}
#header .head-mobile .smoke {
  width: 30%;
  height: 1200px;
  background-color: #626262;
  position: fixed;
  left: 0;
  opacity: 0.3;
  z-index: 5;
}

#section1 {
  width: 1512px;
  max-width: 100%;
  margin: 0 auto;
  height: 100dvh;
  overflow: visible;
}
#section1 .section1-container {
  width: 100%;
  max-width: 100%;
  height: 100dvh;
}
#section1 .section1-container .main-text {
  position: absolute;
  top: 400px;
  right: -24px;
  white-space: nowrap;
  z-index: 4;
  font-family: League Spartan;
  font-size: 156px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  background: linear-gradient(86deg, #000 -1.4%, #837AA9 46.29%, #473398 91.08%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#section1 .section1-container .line1 {
  width: 230px;
  height: 1px;
  flex-shrink: 0;
  background: linear-gradient(to right, #3E0070 0%, #96D3FF 65%, #101920 100%);
  position: absolute;
  top: 530px;
  left: 160px;
}
#section1 .section1-container .line2 {
  width: 230px;
  height: 1px;
  flex-shrink: 0;
  background: linear-gradient(to right, #3E0070 0%, #96D3FF 65%, #101920 100%);
  position: absolute;
  top: 800px;
  left: 1170px;
}
#section1 .section1-container .effect1 {
  position: absolute;
  width: 50%;
  left: 140px;
  top: -60px;
}
#section1 .section1-container .effect2 {
  position: absolute;
  left: 900px;
  top: 100px;
  width: 889px;
  height: 643px;
  border-radius: 889px;
  background: radial-gradient(50% 50% at 50% 50%, #FFF1EA 0.01%, rgba(253, 253, 253, 0) 100%);
  mix-blend-mode: multiply;
  z-index: 1;
  flex-shrink: 0;
}
#section1 .section1-container .mask1 {
  position: absolute;
  left: 800px;
  top: 350px;
  width: 100%;
  height: 100%;
  z-index: -1;
}
#section1 .section1-container .effect3 {
  position: absolute;
  left: 850px;
  top: 400px;
  width: 737px;
  height: 643px;
  flex-shrink: 0;
  border-radius: 737px;
  background: radial-gradient(50% 50% at 50% 50%, #FFFCF6 0.01%, rgba(253, 253, 253, 0) 100%);
  mix-blend-mode: lighten;
}
#section1 .section1-container .effect4 {
  position: absolute;
  left: 700px;
  top: 550px;
  width: 737px;
  height: 643px;
  flex-shrink: 0;
  border-radius: 737px;
  background: radial-gradient(50% 50% at 50% 50%, #EBF9FF 0%, #F1FBFF 0.01%, rgba(253, 253, 253, 0) 100%);
  mix-blend-mode: lighten;
}

#section2 {
  width: 1040px;
  max-width: 100%;
  margin: 0 auto;
}
#section2 .section2-container {
  padding-top: 160px;
  padding-bottom: 200px;
  margin: 0 32px;
  width: 1040px;
  max-width: 100%;
  align-items: flex-start;
  gap: 64px;
}
#section2 .section2-container .section-text {
  font-family: League Spartan;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-left: 16px;
  background: linear-gradient(86deg, #000 -1.4%, #837AA9 46.29%, #473398 91.08%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#section2 .section2-container .text {
  width: 65%;
  font-family: A-OTF Gothic BBB Pr6;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 220%;
  letter-spacing: 0.9px;
  background: linear-gradient(90deg, #0F1134 32.39%, #535353 54.69%, #0F1134 73.81%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#section2 .section2-container .effect5 {
  position: absolute;
  left: 400px;
  bottom: 100px;
  width: 1092px;
  height: 643px;
  flex-shrink: 0;
  border-radius: 1092px;
  background: radial-gradient(50% 50% at 50% 50%, #F3FBFF 0%, #F8FBFF 36.98%, rgba(253, 253, 253, 0) 100%);
  mix-blend-mode: multiply;
}
#section2 .section2-container .line {
  bottom: 100px;
  left: -200px;
  width: 230px;
  height: 1px;
  flex-shrink: 0;
  background: linear-gradient(to right, #3E0070 0%, #96D3FF 65%, #101920 100%);
  position: absolute;
}

#section3 {
  width: 1512px;
  max-width: 100%;
  margin: 0 auto;
}
#section3 .section3-container {
  padding-top: 104px;
  margin: 0 32px;
  width: 1040px;
  max-width: 100%;
}
#section3 .section3-container .mask2 {
  position: absolute;
  left: -460px;
  top: 120px;
  width: 100%;
  height: 100%;
  z-index: -1;
}
#section3 .section3-container .mask3 {
  position: absolute;
  left: -280px;
  top: 1800px;
  width: 64%;
  height: 100%;
  z-index: -1;
}
#section3 .section3-container .mask4 {
  position: absolute;
  right: -250px;
  top: 1610px;
  width: 50%;
  height: 100%;
  z-index: -1;
}
#section3 .section3-container .section-text {
  font-family: League Spartan;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  background: linear-gradient(86deg, #000 -1.4%, #837AA9 46.29%, #473398 91.08%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 80px;
}
#section3 .section3-container .line {
  top: 10px;
  left: 7%;
  width: 230px;
  height: 1px;
  flex-shrink: 0;
  background: linear-gradient(to right, #3E0070 0%, #96D3FF 65%, #101920 100%);
  bottom: 300px;
}
#section3 .section3-container .main {
  flex-direction: row;
  justify-content: space-between;
  margin-top: 72px;
}
#section3 .section3-container .main picture {
  width: 40%;
  z-index: 2;
}
#section3 .section3-container .main picture img {
  width: 100%;
  flex-shrink: 0;
}
#section3 .section3-container .main .effect7::before {
  content: "";
  position: absolute;
  right: -160px;
  top: -10px;
  width: 447.419px;
  height: 206.084px;
  flex-shrink: 0;
  border-radius: 447.419px;
  background: radial-gradient(50% 50% at 50% 50%, #FFFBF6 0%, #FFF6FD 0.01%, #FFF3F3 28.13%, rgba(253, 253, 253, 0) 100%);
  mix-blend-mode: multiply;
}
#section3 .section3-container .main .main-right {
  width: 55%;
  gap: 32px;
  flex-direction: row;
}
#section3 .section3-container .main .main-right .number {
  color: #101235;
  font-family: League Spartan;
  font-size: 96px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  white-space: nowrap;
  margin-bottom: 260px;
}
#section3 .section3-container .main .main-right .content {
  gap: 32px;
  justify-content: flex-start;
  align-items: flex-start;
}
#section3 .section3-container .main .main-right .content-title {
  font-family: Noto Sans JP;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 2px;
  background: linear-gradient(90deg, #0F1134 32.39%, #535353 54.69%, #0F1134 73.81%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#section3 .section3-container .main .main-right .content-text {
  font-family: Noto Sans JP;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.7px;
  background: linear-gradient(90deg, #0F1134 32.39%, #535353 54.69%, #0F1134 73.81%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#section3 .section3-container .main .main-right .content .btn {
  flex-direction: row;
  width: 250px;
  padding: 24px;
  justify-content: space-between;
  left: 45%;
  cursor: pointer;
}
#section3 .section3-container .main .main-right .content .line {
  width: 250px;
  height: 1px;
  flex-shrink: 0;
  background: linear-gradient(to right, #3E0070 0%, #96D3FF 65%, #101920 100%);
  position: absolute;
  top: 60px;
  left: -16px;
}
#section3 .section3-container .main02 {
  flex-direction: row-reverse;
  padding-top: 50px;
}
#section3 .section3-container .main03 {
  margin-top: 120px;
  padding-bottom: 120px;
}
#section3 .section3-container .main03 img {
  z-index: 2;
}
#section3 .section3-container .main03 .effect8::before {
  content: "";
  width: 495px;
  height: 449px;
  position: absolute;
  left: -221px;
  top: -199px;
  border-radius: 495px;
  background: radial-gradient(50% 50% at 50% 50%, #FFFBF6 0%, #FFF6FD 0.01%, #FFF3F3 28.13%, rgba(253, 253, 253, 0) 100%);
  mix-blend-mode: multiply;
}
#section3 .section3-container .main03 .effect8::after {
  content: "";
  position: absolute;
  top: 30px;
  left: -250px;
  width: 230px;
  height: 1px;
  flex-shrink: 0;
  background: linear-gradient(to right, #3E0070 0%, #96D3FF 65%, #101920 100%);
  bottom: 300px;
  z-index: 2;
}
#section3 .section3-container .sub01 {
  margin-top: 72px;
  gap: 32px;
}
#section3 .section3-container .sub01 h3 {
  background: linear-gradient(90deg, #0F1134 32.39%, #535353 54.69%, #0F1134 73.81%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: A-OTF Midashi Go MB1 Std;
  font-size: 16px;
  font-style: normal;
  font-weight: 505;
  line-height: 180%;
  /* 28.8px */
  letter-spacing: 0.8px;
}
#section3 .section3-container .sub01 .sub-container {
  flex-direction: row;
  gap: 32px;
  justify-content: space-between;
}
#section3 .section3-container .sub01 .sub-container .sub-content {
  width: 300px;
  gap: 16px;
  text-align: center;
}
#section3 .section3-container .sub01 .sub-container .sub-content picture {
  width: 100%;
}
#section3 .section3-container .sub01 .sub-container .sub-content p {
  color: #0F1134;
  text-align: center;
  font-family: A-OTF Gothic BBB Pr5;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  /* 27.2px */
  letter-spacing: 1.6px;
}

#section-table {
  width: 1512px;
  max-width: 100%;
  margin: 0 auto;
}
#section-table .section-table-container {
  padding-top: 120px;
  padding-bottom: 120px;
  margin: 0 32px;
  width: 1040px;
  max-width: 100%;
}
#section-table .section-table-container .section-text {
  font-family: League Spartan;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  background: linear-gradient(86deg, #000 -1.4%, #837AA9 46.29%, #473398 91.08%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 16px;
}
#section-table .section-table-container .line::before {
  content: "";
  width: 47px;
  height: 1px;
  flex-shrink: 0;
  background: linear-gradient(to right, #3E0070 0%, #96D3FF 65%, #101920 100%);
}
#section-table .section-table-container .line::after {
  content: "";
  position: absolute;
  left: 440px;
  top: 160px;
  width: 230px;
  height: 1px;
  flex-shrink: 0;
  background: linear-gradient(to right, #3E0070 0%, #96D3FF 65%, #101920 100%);
}
#section-table .section-table-container .table {
  margin-top: 104px;
  max-width: 100%;
}
#section-table .section-table-container .table-row {
  width: 670px;
  max-width: 100%;
  padding-left: 24px;
  flex-direction: row;
  border-bottom: #a4bccd 1px solid;
  align-items: flex-start;
}
#section-table .section-table-container .table-row .row-left {
  width: 140px;
  padding: 16px 24px 16px 40px;
  align-items: flex-start;
  gap: 10px;
}
#section-table .section-table-container .table-row .row-left p {
  color: #101235;
  text-align: center;
  font-family: Noto Sans JP;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%;
  letter-spacing: 0.7px;
}
#section-table .section-table-container .table-row .row-right {
  width: 500px;
  padding: 16px 24px 16px 64px;
  align-items: flex-start;
  gap: 10px;
  white-space: nowrap;
}
#section-table .section-table-container .table-row .row-right p {
  color: #101235;
  font-family: Noto Sans JP;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%;
  letter-spacing: 0.7px;
}
#section-table .section-table-container .last-row {
  border: none;
}

#section-form {
  width: 1512px;
  max-width: 100%;
  margin: 0 auto;
  max-width: 100%;
  padding-top: 80px;
}
#section-form .mask5 {
  position: absolute;
  left: -270px;
  top: -150px;
  width: 50%;
  max-width: 100%;
  height: 1169px;
  flex-shrink: 0;
  z-index: -1;
}
#section-form .img {
  width: 491px;
  height: 491px;
  position: absolute;
  right: -100px;
  top: -220px;
}
#section-form .effect-f::before {
  content: "";
  width: 1092px;
  height: 643px;
  position: absolute;
  left: -1000px;
  top: 330px;
  border-radius: 1092px;
  background: radial-gradient(50% 50% at 50% 50%, #FFF3FB 0%, #FFF8F8 36.98%, rgba(253, 253, 253, 0) 100%);
  mix-blend-mode: multiply;
}
#section-form .effect-f::after {
  content: "";
  width: 1092px;
  height: 643px;
  position: absolute;
  left: 0;
  top: 34px;
  border-radius: 1092px;
  background: radial-gradient(50% 50% at 50% 50%, #F3FBFF 0%, #F8FBFF 36.98%, rgba(253, 253, 253, 0) 100%);
  mix-blend-mode: multiply;
  z-index: -1;
}
#section-form .section-form-container {
  margin: 0 32px;
  width: 1040px;
  max-width: 100%;
  padding-top: 120px;
  padding-bottom: 264px;
  max-width: 100%;
}
#section-form .section-form-container .section-text {
  margin-left: 104px;
  position: absolute;
  top: 0;
  left: 0px;
  font-family: League Spartan;
  font-size: 96px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  background: linear-gradient(86deg, #000 -1.4%, #837AA9 46.29%, #473398 91.08%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#section-form .section-form-container .line {
  position: absolute;
  right: 790px;
  width: 247px;
  height: 1px;
  flex-shrink: 0;
  background: linear-gradient(to right, #3E0070 0%, #96D3FF 65%, #101920 100%);
}
#section-form .section-form-container .form {
  width: 500px;
  margin-top: 104px;
  max-width: 100%;
}
#section-form .section-form-container .form-row {
  align-items: flex-start;
  gap: 2px;
  margin-top: 24px;
}
#section-form .section-form-container .form-row label {
  color: #0F1134;
  font-family: Noto Sans JP;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%;
  /* 28px */
  letter-spacing: 0.7px;
}
#section-form .section-form-container .form-row input,
#section-form .section-form-container .form-row select {
  width: 500px;
  max-width: 100%;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #415C84;
  flex-shrink: 0;
  padding-left: 16px;
}
#section-form .section-form-container .form-row textarea {
  width: 500px;
  max-width: 100%;
  border-radius: 8px;
  padding-left: 16px;
  padding-top: 8px;
  border: 1px solid #415C84;
  height: 225px;
  flex-shrink: 0;
}
#section-form .section-form-container .form .submit {
  margin-top: 24px;
  width: 500px;
  max-width: 100%;
  height: 55px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #415C84;
  flex-shrink: 0;
  padding-left: 16px;
  border-radius: 8px;
  background: linear-gradient(86deg, #837AA9 -1.4%, #334998 91.08%);
  color: #ffffff;
  cursor: pointer;
}

#footer {
  height: 190px;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}
#footer .footer-container {
  height: 190px;
  width: 100%;
  max-width: 100%;
  background-color: #000;
  gap: 16px;
  justify-content: center;
}
#footer .footer-container img {
  width: 117px;
  height: 53px;
}
#footer .footer-container .copy {
  color: #FFF;
  font-family: A-OTF Gothic BBB Pr6;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%;
  /* 24px */
  letter-spacing: 0.6px;
}

select#classification option.default {
  color: #888;
  /* グレー色に設定 */
  opacity: 0.4;
}

@media screen and (max-width: 540px) {
  #header .head {
    height: 80px;
    width: 100%;
    padding: 0;
    padding-left: 16px;
  }
  #header .head-left {
    justify-content: flex-start;
    position: fixed;
    top: 0px;
    padding-top: 16px;
    width: 90px;
    height: 40.769px;
  }
  #header .head-right {
    display: none;
  }
  #header .head-btn {
    width: 50px;
    display: block;
    overflow: visible;
    word-break: break-word;
    height: 80px;
    padding: 0px 26px 0px 0px;
    flex-direction: row;
    position: fixed;
    top: 24px;
    right: 0;
    justify-content: flex-end;
  }
  #header .head-btn img {
    width: 20px;
  }
  #header .head-mobile {
    display: none;
    position: fixed;
    width: 70%;
    height: 1100px;
    margin-top: 400px;
    padding-left: 30px;
    left: 30%;
    align-items: flex-start;
    justify-content: center;
    z-index: 5;
    flex: 1;
  }
  #section1 {
    width: 1512px;
    max-width: 100%;
    margin: 0 auto;
    height: 650px;
    overflow: visible;
  }
  #section1 .section1-container {
    width: 100%;
    max-width: 100%;
    height: 100dvh;
  }
  #section1 .section1-container .main-text {
    position: absolute;
    top: 120px;
    right: -4px;
    white-space: nowrap;
    z-index: 4;
    font-family: League Spartan;
    font-size: 36px;
  }
  #section1 .section1-container .line1 {
    width: 70px;
    height: 1px;
    flex-shrink: 0;
    background: linear-gradient(to right, #3E0070 0%, #96D3FF 65%, #101920 100%);
    position: absolute;
    top: 160px;
    left: 170px;
  }
  #section1 .section1-container .line2 {
    width: 70px;
    height: 1px;
    flex-shrink: 0;
    background: linear-gradient(to right, #3E0070 0%, #96D3FF 65%, #101920 100%);
    position: absolute;
    top: 650px;
    left: 80%;
  }
  #section1 .section1-container .effect1 {
    position: absolute;
    width: 80%;
    left: -80px;
    top: 220px;
    z-index: 3;
  }
  #section1 .section1-container .effect2 {
    position: absolute;
    left: 130px;
    top: 0px;
    width: 583px;
    height: 422px;
    border-radius: 583px;
    background: radial-gradient(50% 50% at 50% 50%, #FFF1EA 0.01%, rgba(253, 253, 253, 0) 100%);
    mix-blend-mode: multiply;
    z-index: 1;
    flex-shrink: 0;
  }
  #section1 .section1-container .mask1 {
    width: 0%;
  }
  #section1 .section1-container .effect3 {
    position: absolute;
    left: -100px;
    top: 40px;
    width: 464px;
    height: 405px;
    flex-shrink: 0;
    border-radius: 464px;
    background: radial-gradient(50% 50% at 50% 50%, #FFFCF6 0.01%, rgba(253, 253, 253, 0) 100%);
    mix-blend-mode: lighten;
  }
  #section1 .section1-container .effect4 {
    position: absolute;
    left: 0px;
    top: 340px;
    width: 417px;
    height: 363px;
    flex-shrink: 0;
    border-radius: 417px;
    background: radial-gradient(50% 50% at 50% 50%, #EBF9FF 0%, #F1FBFF 0.01%, rgba(253, 253, 253, 0) 100%);
    mix-blend-mode: lighten;
  }
  #section2 {
    width: 1040px;
    max-width: 100%;
    margin: 0 auto;
  }
  #section2 .section2-container {
    max-width: 100%;
    align-items: flex-start;
    gap: 64px;
    width: 390px;
    padding: 120px 32px 80px 32px;
  }
  #section2 .section2-container .section-text {
    margin-left: 0px;
  }
  #section2 .section2-container .text {
    width: 100%;
    font-family: A-OTF Gothic BBB Pr6;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 220%;
    /* 30.8px */
    letter-spacing: 0.7px;
    background: linear-gradient(90deg, #0F1134 32.39%, #535353 54.69%, #0F1134 73.81%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  #section2 .section2-container .effect5 {
    position: absolute;
    left: 400px;
    bottom: 100px;
    width: 1092px;
    height: 643px;
    flex-shrink: 0;
    border-radius: 1092px;
    background: radial-gradient(50% 50% at 50% 50%, #F3FBFF 0%, #F8FBFF 36.98%, rgba(253, 253, 253, 0) 100%);
    mix-blend-mode: multiply;
  }
  #section2 .section2-container .line {
    bottom: 0px;
    left: 30px;
    width: 120px;
    height: 1px;
    flex-shrink: 0;
    background: linear-gradient(to right, #3E0070 0%, #96D3FF 65%, #101920 100%);
    position: absolute;
  }
  #section3 {
    width: 1512px;
    max-width: 100%;
    margin: 0 auto;
  }
  #section3 .section3-container {
    padding-top: 104px;
    width: 1040px;
    max-width: 100%;
    width: 390px;
    padding: 0px 32px 120px 32px;
    align-items: flex-start;
  }
  #section3 .section3-container .mask2 {
    position: absolute;
    left: -100px;
    top: 20px;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  #section3 .section3-container .mask2 img {
    width: 622px;
    height: 491.724px;
  }
  #section3 .section3-container .mask3 {
    width: 0;
  }
  #section3 .section3-container .mask4 {
    width: 0;
  }
  #section3 .section3-container .section-text {
    font-family: League Spartan;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    white-space: nowrap;
    background: linear-gradient(86deg, #000 -1.4%, #837AA9 46.29%, #473398 91.08%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 260px;
    margin-top: 104px;
  }
  #section3 .section3-container .line-s {
    height: 1px;
    flex-shrink: 0;
    background: linear-gradient(to right, #3E0070 0%, #96D3FF 65%, #101920 100%);
    position: absolute;
    top: 140px;
    left: 60px;
    width: 120px;
    bottom: 0px;
  }
  #section3 .section3-container .line-s::before {
    content: "";
    position: absolute;
    left: -30px;
    width: 30px;
    height: 1px;
    background: #F5DCBD;
  }
  #section3 .section3-container .main {
    flex-direction: column;
    margin-top: 72px;
    gap: 51px;
  }
  #section3 .section3-container .main picture {
    width: 100%;
    z-index: 2;
  }
  #section3 .section3-container .main picture img {
    width: 100%;
    flex-shrink: 0;
  }
  #section3 .section3-container .main .effect7::before {
    content: "";
    position: absolute;
    right: -200px;
    top: -240px;
    width: 447.419px;
    height: 206.084px;
    flex-shrink: 0;
    border-radius: 447.419px;
    background: radial-gradient(50% 50% at 50% 50%, #FFFBF6 0%, #FFF6FD 0.01%, #FFF3F3 28.13%, rgba(253, 253, 253, 0) 100%);
    mix-blend-mode: multiply;
  }
  #section3 .section3-container .main .main-right {
    width: 100%;
    gap: 32px;
    flex-direction: column;
    align-items: flex-start;
  }
  #section3 .section3-container .main .main-right .number {
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 0px;
  }
  #section3 .section3-container .main .main-right .number p {
    text-align: left;
  }
  #section3 .section3-container .main .main-right .content {
    gap: 32px;
    justify-content: flex-start;
    align-items: flex-start;
  }
  #section3 .section3-container .main .main-right .content-title {
    font-family: Noto Sans JP;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 2px;
    background: linear-gradient(90deg, #0F1134 32.39%, #535353 54.69%, #0F1134 73.81%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  #section3 .section3-container .main .main-right .content-text {
    font-family: Noto Sans JP;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.7px;
    background: linear-gradient(90deg, #0F1134 32.39%, #535353 54.69%, #0F1134 73.81%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  #section3 .section3-container .main .main-right .content .btn {
    flex-direction: row;
    width: 200px;
    padding: 24px;
    justify-content: space-between;
    left: 0%;
    text-align: left;
    cursor: pointer;
  }
  #section3 .section3-container .main .main-right .content .line {
    width: 250px;
    height: 1px;
    flex-shrink: 0;
    background: linear-gradient(to right, #3E0070 0%, #96D3FF 65%, #101920 100%);
    position: absolute;
    top: 60px;
    left: 0px;
  }
  #section3 .section3-container .main02 {
    flex-direction: column;
    margin-top: 120px;
  }
  #section3 .section3-container .main03 {
    margin-top: 120px;
    padding-bottom: 120px;
  }
  #section3 .section3-container .main03 img {
    z-index: 2;
  }
  #section3 .section3-container .main03 .effect8::before {
    content: "";
    width: 395px;
    height: 399px;
    position: absolute;
    left: -341px;
    top: -99px;
    border-radius: 395px;
    background: radial-gradient(50% 50% at 50% 50%, #FFFBF6 0%, #FFF6FD 0.01%, #FFF3F3 28.13%, rgba(253, 253, 253, 0) 100%);
    mix-blend-mode: multiply;
  }
  #section3 .section3-container .main03 .effect8::after {
    height: 0px;
  }
  #section3 .section3-container .sub01 {
    margin-top: 72px;
    gap: 32px;
  }
  #section3 .section3-container .sub01 h3 {
    background: linear-gradient(90deg, #0F1134 32.39%, #535353 54.69%, #0F1134 73.81%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: A-OTF Midashi Go MB1 Std;
    font-size: 16px;
    font-style: normal;
    font-weight: 505;
    line-height: 180%;
    /* 28.8px */
    letter-spacing: 0.8px;
  }
  #section3 .section3-container .sub01 .sub-container {
    flex-direction: column;
    gap: 32px;
    justify-content: space-between;
  }
  #section3 .section3-container .sub01 .sub-container .sub-content {
    width: 300px;
    gap: 16px;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
  }
  #section3 .section3-container .sub01 .sub-container .sub-content img {
    width: 70%;
    margin: 0 auto;
  }
  #section3 .section3-container .sub01 .sub-container .sub-content p {
    color: #0F1134;
    text-align: center;
    font-family: A-OTF Gothic BBB Pr5;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    /* 27.2px */
    letter-spacing: 1.6px;
  }
  #section-table {
    width: 1512px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 32px;
  }
  #section-table .section-table-container {
    padding-top: 0px;
    padding-bottom: 40px;
    margin: 0 32px;
    width: 1040px;
    max-width: 100%;
  }
  #section-table .section-table-container .section-text {
    font-family: League Spartan;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    background: linear-gradient(86deg, #000 -1.4%, #837AA9 46.29%, #473398 91.08%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 16px;
  }
  #section-table .section-table-container .line::before {
    content: "";
    width: 47px;
    height: 1px;
    flex-shrink: 0;
    background: linear-gradient(to right, #3E0070 0%, #96D3FF 65%, #101920 100%);
  }
  #section-table .section-table-container .line::after {
    content: "";
    position: absolute;
    left: 100px;
    top: -100px;
    width: 230px;
    height: 1px;
    flex-shrink: 0;
    background: linear-gradient(to right, #3E0070 0%, #96D3FF 65%, #101920 100%);
  }
  #section-table .section-table-container .table {
    margin-top: 20px;
  }
  #section-table .section-table-container .table-row {
    width: 670px;
  }
  #section-table .section-table-container .table-row .row-left {
    width: 140px;
    padding: 16px 24px 16px 20px;
    align-items: flex-start;
    gap: 10px;
  }
  #section-table .section-table-container .table-row .row-left p {
    color: #101235;
    text-align: center;
    font-family: Noto Sans JP;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
    letter-spacing: 0.7px;
  }
  #section-table .section-table-container .table-row .row-right {
    width: 500px;
    padding: 16px 24px 16px 20px;
    align-items: flex-start;
    gap: 10px;
    white-space: wrap;
  }
  #section-table .section-table-container .table-row .row-right p {
    color: #101235;
    font-family: Noto Sans JP;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
    letter-spacing: 0.7px;
  }
  #section-form {
    margin: 0 auto;
    margin-top: 100px;
    padding-top: 10px;
  }
  #section-form .mask5 {
    position: absolute;
    left: -270px;
    top: 130px;
    width: 556.592px;
    height: 690.718px;
    flex-shrink: 0;
    z-index: -1;
  }
  #section-form .img {
    width: 231px;
    height: 231px;
    position: absolute;
    right: -60px;
    top: -140px;
    z-index: 2;
    transform: rotate(23.098deg);
  }
  #section-form .effect-f::before {
    content: "";
    width: 470px;
    height: 277px;
    position: absolute;
    left: -450px;
    top: 344px;
    border-radius: 470px;
  }
  #section-form .effect-f::after {
    content: "";
    width: 470px;
    height: 307px;
    position: absolute;
    right: -332px;
    top: 10px;
    border-radius: 470px;
    background: radial-gradient(50% 50% at 50% 50%, #F3FBFF 0%, #F8FBFF 36.98%, rgba(253, 253, 253, 0) 100%);
    mix-blend-mode: multiply;
    z-index: -1;
  }
  #section-form .section-form-container {
    margin: 0 32px;
    width: 390px;
    max-width: 100%;
    padding: 150px, 32px, 264px;
    align-items: flex-start;
  }
  #section-form .section-form-container .section-text {
    margin-left: 0px;
    position: absolute;
    top: 120px;
    left: 5%;
    font-size: 48px;
  }
  #section-form .section-form-container .line {
    position: absolute;
    right: 250px;
    top: 170px;
    width: 120px;
    height: 1px;
    flex-shrink: 0;
    background: linear-gradient(to right, #3E0070 0%, #96D3FF 65%, #101920 100%);
  }
  #section-form .section-form-container .line::before {
    content: "";
    position: absolute;
    left: 340px;
    top: 50px;
    width: 120px;
    height: 1px;
    flex-shrink: 0;
    background: linear-gradient(to right, #3E0070 0%, #96D3FF 65%, #101920 100%);
  }
  #section-form .section-form-container .line::after {
    content: "";
    position: absolute;
    left: -100px;
    top: 950px;
    width: 120px;
    height: 1px;
    flex-shrink: 0;
    background: linear-gradient(to right, #3E0070 0%, #96D3FF 65%, #101920 100%);
  }
  #section-form .section-form-container .form {
    width: 500px;
    margin: 0 auto;
    margin-top: 104px;
    max-width: 84%;
  }
  #section-form .section-form-container .form-row {
    align-items: flex-start;
    gap: 2px;
    margin-top: 24px;
  }
  #section-form .section-form-container .form-row label {
    color: #0F1134;
    font-family: Noto Sans JP;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
    /* 28px */
    letter-spacing: 0.7px;
  }
  #section-form .section-form-container .form-row input,
  #section-form .section-form-container .form-row select {
    width: 500px;
    max-width: 100%;
    height: 48px;
    border-radius: 8px;
    border: 1px solid #415C84;
    flex-shrink: 0;
    padding-left: 16px;
  }
  #section-form .section-form-container .form-row textarea {
    width: 500px;
    max-width: 100%;
    border-radius: 8px;
    padding-left: 16px;
    padding-top: 8px;
    border: 1px solid #415C84;
    height: 225px;
    flex-shrink: 0;
  }
  #section-form .section-form-container .form .submit {
    margin-top: 24px;
    width: 500px;
    max-width: 100%;
    height: 55px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #415C84;
    flex-shrink: 0;
    padding-left: 16px;
    border-radius: 8px;
    background: linear-gradient(86deg, #837AA9 -1.4%, #334998 91.08%);
    color: #ffffff;
    cursor: pointer;
  }
}/*# sourceMappingURL=style.css.map */