html,
body {
  overflow-x: hidden;
}

// body.active::before {
//   content: "";
//   position: fixed;
//   display: block;
//   z-index: 5;
//   inset: 0;
//   background: #000;
//   transition: all 0.5s ease-in-out 0s;
//   opacity: 0.3;
// }

//header----------------------------
.w40j2s9 {
  width: 100%;
  height: 145px;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 1;
}
.ue1ow {
  width: 100%;
  padding: 0 40px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.s9raw {
  width: 117px;
  height: 53px;
}

.i6f7ro4 {
  gap: 15px;
  flex-direction: row;
}
.ta0i04g {
  font-family: League Spartan;
  font-size: 24px;
  font-weight: 300;
}
.m7yf41r {
  display: none;
  position: relative;
  width: 20px;
  height: 16px;
  z-index: 2;
}

.rnexghi5 {
  width: 20px;
  height: 1px;
  display: block;
  background: linear-gradient(to right, #3e0070 0%, #96d3ff 65%, #101920 100%);
  transform-origin: right bottom;

  &:nth-child(1) {
    transition: transform 0.4s;
  }

  &:nth-child(2) {
    margin-top: 8px;
  }

  &:nth-child(3) {
    transition: transform 0.4s;
    margin-top: 8px;
  }
}

@media screen and (max-width: 540px) {
  .w40j2s9 {
    height: 70px;
    padding: 0;
  }
  .ue1ow {
    padding: 0 26px 0 16px;
  }
  .s9raw {
    width: 90px;
    height: 40px;
  }
  .i6f7ro4 {
    flex-direction: column;
  }
  .ta0i04g {
    color: #000;

    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  .m7yf41r {
    display: block;
  }
  .rnexghi5.open {
    width: 25.61px;
    &:nth-child(1) {
      transform: rotate(-45deg);
    }
    &:nth-child(2) {
      visibility: hidden;
    }
    &:nth-child(3) {
      transform: rotate(45deg);
    }
  }

  .s1cdq7g {
    position: fixed;
    top: 0;
    transform: translateX(100%);
    margin: 0 0 0 auto;
    width: 70%;
    height: 100%;
    background: #fff;
    transition: transform 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;

    &.active {
      width: 70%;
      transform: translateX(0);
      background: #fff;
    }
  }
}

//FirstView----------------------------
.wtkkof4 {
  max-width: 100%;
  margin: 0 auto;
  height: 894px;
  overflow: visible;
}

.xc8srsx {
  width: 100%;
  max-width: 100%;
  height: 100%;
}

.lh5mp2h {
  position: absolute;
  top: 382px;
  left: 236px;
  white-space: nowrap;
  z-index: 4;
  font-family: League Spartan;
  font-size: 120px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: 1px;
  background: linear-gradient(86deg, #000 -1.4%, #837aa9 46.29%, #473398 91.08%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ux12hcv {
  width: 230px;
  height: 1px;
  flex-shrink: 0;
  background: linear-gradient(to right, #3e0070 0%, #96d3ff 65%, #101920 100%);
  position: absolute;
  top: 552px;
  left: 120px;
}

.lkfbvy {
  width: 230px;
  height: 1px;
  flex-shrink: 0;
  background: linear-gradient(to right, #3e0070 0%, #96d3ff 65%, #101920 100%);
  position: absolute;
  bottom: -33px;
  left: 1160px;
}

.ehb80n9 {
  position: absolute;
  width: 56%;
  left: 60px;
  top: -100px;
}

.y3sjeqo {
  position: absolute;
  left: 900px;
  top: 100px;
  width: 889px;
  height: 643px;
  border-radius: 889px;
  background: radial-gradient(50% 50% at 50% 50%, #fff1ea 0.01%, rgba(253, 253, 253, 0) 100%);
  mix-blend-mode: multiply;
  z-index: 1;
  flex-shrink: 0;
}

.cz1qw0h {
  position: absolute;
  left: 800px;
  top: 350px;
  width: 100%;
  z-index: -1;
}

.s8b19hx {
  position: absolute;
  left: 850px;
  top: 400px;
  width: 737px;
  height: 643px;
  flex-shrink: 0;
  border-radius: 737px;
  background: radial-gradient(50% 50% at 50% 50%, #fffcf6 0.01%, rgba(253, 253, 253, 0) 100%);
  mix-blend-mode: lighten;
}

.clr01h5 {
  position: absolute;
  left: 700px;
  top: 550px;
  width: 737px;
  height: 643px;
  flex-shrink: 0;
  border-radius: 737px;
  background: radial-gradient(50% 50% at 50% 50%, #ebf9ff 0%, #f1fbff 0.01%, rgba(253, 253, 253, 0) 100%);
  mix-blend-mode: lighten;
}

@media screen and (max-width: 540px) {
  .wtkkof4 {
    width: 1512px;
    max-width: 100%;
    margin: 0 auto;
    height: 100%;
    overflow: visible;
  }

  .xc8srsx {
    width: 100%;
    max-width: 100%;
    height: 100%;
  }

  .lh5mp2h {
    top: 200px;
    left: 90px;
    font-size: 36px;
  }

  .ux12hcv {
    width: 78px;
    top: 250px;
    left: 70px;
  }

  .lkfbvy {
    width: 70px;
    top: 95%;
    left: 74%;
  }

  .ehb80n9 {
    width: 110%;
    max-width: max-content;
    left: -120px;
    top: 300px;
  }

  .y3sjeqo {
    position: absolute;
    left: 130px;
    top: 0px;
    width: 583px;
    height: 422px;
    border-radius: 583px;
    background: radial-gradient(50% 50% at 50% 50%, #fff1ea 0.01%, rgba(253, 253, 253, 0) 100%);
    mix-blend-mode: multiply;
    z-index: 1;
    flex-shrink: 0;
  }

  .cz1qw0h {
    width: 0%;
  }

  .s8b19hx {
    position: absolute;
    left: -100px;
    top: 40px;
    width: 464px;
    height: 405px;
    flex-shrink: 0;
    border-radius: 464px;
    background: radial-gradient(50% 50% at 50% 50%, #fffcf6 0.01%, rgba(253, 253, 253, 0) 100%);
    mix-blend-mode: lighten;
  }

  .clr01h5 {
    position: absolute;
    left: 0px;
    top: 340px;
    width: 417px;
    height: 363px;
    flex-shrink: 0;
    border-radius: 417px;
    background: radial-gradient(50% 50% at 50% 50%, #ebf9ff 0%, #f1fbff 0.01%, rgba(253, 253, 253, 0) 100%);
    mix-blend-mode: lighten;
  }
}

// Concept
.m5bnsfi {
  width: 100%;
  padding: 160px 0 200px 0;
  align-items: center;
}

.ndxjabn {
  position: relative;
  width: 1104px;
  padding: 0 32px 0 32px;
  align-items: flex-start;
  gap: 64px;
}

.r4umc1w {
  font-family: League Spartan;
  font-size: 64px;
  font-weight: 300;
  line-height: 0.9em;
  opacity: 0.5;
  background: linear-gradient(86deg, #000 -1.4%, #837aa9 46.29%, #473398 91.08%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bhxw3jb {
  width: 65%;
  font-family: A-OTF Gothic BBB Pr6;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 220%;
  letter-spacing: 0.4px;

  background: linear-gradient(90deg, #0f1134 32.39%, #535353 54.69%, #0f1134 73.81%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.h5n0uro {
  margin-top: -113px;
  margin-left: 152px;
  color: rgba(224, 230, 240, 0.87);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 220%;
  letter-spacing: 0.9px;
  width: 100%;
}

.cqiaba5 {
  position: absolute;
  left: 400px;
  bottom: 100px;
  width: 1092px;
  height: 643px;
  flex-shrink: 0;
  border-radius: 1092px;
  background: radial-gradient(50% 50% at 50% 50%, #f3fbff 0%, #f8fbff 36.98%, rgba(253, 253, 253, 0) 100%);
  mix-blend-mode: multiply;
}

.b0k0r58 {
  position: absolute;
  top: 562px;
  left: 0;
  width: 230px;
  height: 1px;
  background: linear-gradient(to right, #3e0070 0%, #96d3ff 65%, #101920 100%);
}

@media screen and (max-width: 540px) {
  .m5bnsfi {
    padding: 120px 0 80px 0;
  }
  .ndxjabn {
    width: 100%;
  }

  .r4umc1w {
    font-size: 24px;
    margin-left: 0px;
  }

  .bhxw3jb {
    width: 100%;
    font-family: A-OTF Gothic BBB Pr6;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 220%;
    letter-spacing: 0.7px;

    background: linear-gradient(90deg, #0f1134 32.39%, #535353 54.69%, #0f1134 73.81%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .h5n0uro {
    display: none;
    margin: 0;
  }

  .cqiaba5 {
    position: absolute;
    left: 400px;
    bottom: 100px;
    width: 1092px;
    height: 643px;
    flex-shrink: 0;
    border-radius: 1092px;
    background: radial-gradient(50% 50% at 50% 50%, #f3fbff 0%, #f8fbff 36.98%, rgba(253, 253, 253, 0) 100%);
    mix-blend-mode: multiply;
  }

  .b0k0r58 {
    bottom: auto;
    top: 380px;
    left: 30px;
    width: 120px;
    height: 1px;
    flex-shrink: 0;
    background: linear-gradient(to right, #3e0070 0%, #96d3ff 65%, #101920 100%);
    position: absolute;
  }
}

//service----------------------------
.wpw2iw {
  max-width: 100%;
  margin: 54px auto 120px auto;
  align-items: center;
}

.ef24alu {
  width: 1104px;
  padding: 0 32px 0 32px;
}
.u2p6po6 {
  position: absolute;
  top: 40px;
  left: 0px;
  width: 100%;
  height: inherit;
  z-index: -1;
  max-width: max-content;
}

.di8u9 {
  position: absolute;
  left: -280px;
  top: 1800px;
  width: 64%;
  z-index: -1;
}

.jchtfl {
  position: absolute;
  right: -250px;
  top: 1610px;
  width: 50%;
  height: 100%;
  z-index: -1;
}

.thndl3f {
  justify-content: center;
  font-family: League Spartan;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: center;

  background: linear-gradient(86deg, #000 -1.4%, #837aa9 46.29%, #473398 91.08%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 0;
  margin-bottom: 20px;
}

.qr5dim6 {
  height: 1px;
  flex-shrink: 0;
  background: linear-gradient(to right, #3e0070 0%, #96d3ff 65%, #101920 100%);
  position: absolute;
  top: 38px;
  left: 50%;
  transform: translateX(calc(-50% + 100px));
  width: 260px;
  bottom: 0px;
}

.qr5dim6::before {
  content: "";
  position: absolute;
  left: 0;
  width: 30px;
  height: 1px;
  background: #f5dcbd;
}

.a6imbe8 {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  flex-shrink: 0;
  background: linear-gradient(to right, #3e0070 0%, #96d3ff 65%, #101920 100%);
  bottom: 300px;
}

.s79zbty {
  flex-direction: row;
  justify-content: space-between;
  margin-top: 72px;
  position: relative;
}

.bxyqpb0 {
  width: 40%;
  z-index: 2;
}

img {
  width: 100%;
  flex-shrink: 0;
}

.hszejqc::before {
  content: "";
  position: absolute;
  left: 150px;
  top: 150px;
  width: 447.419px;
  height: 206.084px;
  flex-shrink: 0;
  border-radius: 447.419px;
  background: radial-gradient(50% 50% at 50% 50%, #fffbf6 0%, #fff6fd 0.01%, #fff3f3 28.13%, rgba(253, 253, 253, 0) 100%);
  mix-blend-mode: multiply;
}

.ro0w9vb {
  width: 53%;
  gap: 32px;
  flex-direction: row;
}

.pfbm3 {
  font-family: League Spartan;
  font-size: 96px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  white-space: nowrap;
  margin-bottom: 260px;
  background: linear-gradient(86deg, #000 -1.4%, #837aa9 46.29%, #473398 91.08%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.jwxljm5 {
  gap: 32px;
  justify-content: flex-start;
  align-items: flex-start;
}

.gvegtxi {
  font-family: Noto Sans JP;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 2px;
  background: linear-gradient(90deg, #0f1134 32.39%, #535353 54.69%, #0f1134 73.81%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ak38rio {
  font-family: Noto Sans JP;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.7px;
  background: linear-gradient(90deg, #0f1134 32.39%, #535353 54.69%, #0f1134 73.81%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.a6abhw {
  position: relative;
  flex-direction: row;
  width: 250px;
  padding: 24px;
  justify-content: space-between;
  cursor: pointer;
  align-self: end;
}

.jy3hu8w {
  font-family: League Spartan;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1.2px;
  background: linear-gradient(86deg, #000 -1.4%, #837aa9 46.29%, #473398 91.08%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.byiq6md {
  flex-direction: row-reverse;
  padding-top: 50px;
}

.oc3wc48::before {
  content: "";
  width: 495px;
  height: 449px;
  position: absolute;
  left: -221px;
  top: -199px;
  border-radius: 495px;
  background: radial-gradient(50% 50% at 50% 50%, #fffbf6 0%, #fff6fd 0.01%, #fff3f3 28.13%, rgba(253, 253, 253, 0) 100%);
  mix-blend-mode: multiply;
}

.oc3wc48::after {
  content: "";
  position: absolute;
  top: 50px;
  left: -250px;
  width: 230px;
  height: 1px;
  flex-shrink: 0;
  background: linear-gradient(to right, #3e0070 0%, #96d3ff 65%, #101920 100%);
  bottom: 300px;
  z-index: 2;
}

.epdi8sa {
  margin-top: 72px;
  gap: 32px;
}

.z258m6d {
  background: linear-gradient(90deg, #0f1134 32.39%, #535353 54.69%, #0f1134 73.81%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: A-OTF Midashi Go MB1 Std;
  font-size: 16px;
  font-style: normal;
  font-weight: 505;
  line-height: 180%;
  letter-spacing: 0.8px;
}

.b5xtd {
  flex-direction: row;
  gap: 32px;
  justify-content: space-between;
}

.wybfgl {
  width: 300px;
  gap: 16px;
  text-align: center;
}

.u100kzr {
  width: 100%;
}

.edhfysr {
  color: #0f1134;
  text-align: center;
  font-family: Noto Sans JP;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  letter-spacing: 1.6px;
}

@media screen and (max-width: 540px) {
  .wpw2iw {
    margin-top: 104px;
  }
  .ef24alu {
    padding: 0px 32px 120px 32px;
  }
  .u2p6po6 {
    top: 20px;
    left: -100px;
    z-index: -1;
    width: 622px;
    height: 491.724px;
  }

  .di8u9 {
    width: 0;
  }

  .jchtfl {
    width: 0;
  }

  .thndl3f {
    justify-content: flex-start;
    font-family: League Spartan;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    white-space: nowrap;
    background: linear-gradient(86deg, #000 -1.4%, #837aa9 46.29%, #473398 91.08%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .qr5dim6 {
    height: 1px;
    left: 0;
    background: linear-gradient(to right, #3e0070 0%, #96d3ff 65%, #101920 100%);
    position: absolute;
    width: 120px;
    bottom: 0px;
  }

  .qr5dim6::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 1px;
    background: #f5dcbd;
  }

  .s79zbty {
    flex-direction: column;
    margin-top: 64px;
    gap: 40px;
  }

  .bxyqpb0 {
    width: 100%;
    z-index: 2;
  }

  .hszejqc::before {
    content: "";
    position: absolute;
    right: -200px;
    top: -240px;
    width: 447.419px;
    height: 206.084px;
    flex-shrink: 0;
    border-radius: 447.419px;
    background: radial-gradient(50% 50% at 50% 50%, #fffbf6 0%, #fff6fd 0.01%, #fff3f3 28.13%, rgba(253, 253, 253, 0) 100%);
    mix-blend-mode: multiply;
  }

  .ro0w9vb {
    width: 100%;
    gap: 32px;
    flex-direction: column;
    align-items: flex-start;
  }

  .pfbm3 {
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 0px;
  }

  .jwxljm5 {
    gap: 32px;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .gvegtxi {
    font-family: Noto Sans JP;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 2px;
    background: linear-gradient(90deg, #0f1134 32.39%, #535353 54.69%, #0f1134 73.81%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .ak38rio {
    font-family: Noto Sans JP;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.7px;
    background: linear-gradient(90deg, #0f1134 32.39%, #535353 54.69%, #0f1134 73.81%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .a6abhw {
    flex-direction: row;
    width: 250px;
    padding: 24px;
    justify-content: space-between;
    left: 0%;
    align-self: flex-start;

    text-align: left;

    cursor: pointer;
  }

  .a6imbe8 {
    width: 250px;
    height: 1px;
    flex-shrink: 0;
    background: linear-gradient(to right, #3e0070 0%, #96d3ff 65%, #101920 100%);
    top: 60px;
    left: 0px;
  }

  .byiq6md {
    flex-direction: column;
    margin-top: 120px;
  }
  .oc3wc48::before {
    content: "";
    width: 395px;
    height: 399px;
    position: absolute;
    left: -341px;
    top: -99px;
    border-radius: 395px;
    background: radial-gradient(50% 50% at 50% 50%, #fffbf6 0%, #fff6fd 0.01%, #fff3f3 28.13%, rgba(253, 253, 253, 0) 100%);
    mix-blend-mode: multiply;
  }

  .oc3wc48::after {
    height: 0px;
  }

  .epdi8sa {
    margin-top: 72px;
    gap: 32px;
    justify-content: center;
  }

  .z258m6d {
    background: linear-gradient(90deg, #0f1134 32.39%, #535353 54.69%, #0f1134 73.81%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: A-OTF Midashi Go MB1 Std;
    font-size: 16px;
    font-style: normal;
    font-weight: 505;
    line-height: 180%;
    letter-spacing: 0.8px;
  }

  .b5xtd {
    flex-direction: column;
    gap: 32px;
    justify-content: center;
  }

  .wybfgl {
    width: 100%;
    gap: 16px;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
  }

  .u100kzr {
    width: 65%;
    margin: 0 auto;
  }

  .edhfysr {
    color: #0f1134;
    text-align: center;
    font-family: Noto Sans JP;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    letter-spacing: 1.6px;
  }
}

.y1kane {
  align-items: center;
}

.ibzhr8a {
  padding-top: 120px;
  padding-bottom: 120px;
  padding: 0 32px;
  width: 1040px;
  max-width: 100%;
  align-items: center;
}

.y9vger {
  font-family: League Spartan;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;

  background: linear-gradient(86deg, #000 -1.4%, #837aa9 46.29%, #473398 91.08%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 24px;
}

.zn0fdmd::before {
  content: "";
  width: 47px;
  height: 1px;
  flex-shrink: 0;
  background: linear-gradient(to right, #3e0070 0%, #96d3ff 65%, #101920 100%);
}

.zn0fdmd::after {
  content: "";
  position: absolute;
  left: 80%;
  top: 190px;
  width: 230px;
  height: 1px;
  flex-shrink: 0;
  background: linear-gradient(to right, #3e0070 0%, #96d3ff 65%, #101920 100%);
}

.vq2cq7 {
  margin-top: 88px;
  max-width: 100%;
}

.d168du6 {
  width: 670px;
  max-width: 100%;
  flex-direction: row;
  border-bottom: #a4bccd 1px solid;
  align-items: flex-start;
}

.qqrdeq6 {
  width: 28%;
  padding: 24px 0 24px 0;
  margin-left: 64px;
  color: #101235;
  font-family: Noto Sans JP;
  font-size: 14px;
  line-height: 200%;
  letter-spacing: 0.7px;
}

.dro68fj {
  width: 72%;
  padding: 24px 0 24px 0;
  color: #101235;
  font-family: Noto Sans JP;
  font-size: 14px;
  line-height: 200%;
  letter-spacing: 0.7px;
}

.vd789ov {
  border: none;
}

@media screen and (max-width: 540px) {
  .y1kane {
    width: 1512px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 24px;
    padding-top: 50px;
  }
  .ibzhr8a {
    padding-top: 0px;
    padding-bottom: 40px;
    padding: 0;
    width: 1040px;
    max-width: 100%;
  }

  .y9vger {
    font-size: 24px;
  }

  .zn0fdmd::before {
    content: "";
    width: 47px;
    height: 1px;
    flex-shrink: 0;
    background: linear-gradient(to right, #3e0070 0%, #96d3ff 65%, #101920 100%);
  }

  .zn0fdmd::after {
    content: "";
    position: absolute;
    left: 100px;
    top: -88px;
    width: 230px;
    height: 1px;
    flex-shrink: 0;
    background: linear-gradient(to right, #3e0070 0%, #96d3ff 65%, #101920 100%);
  }

  .vq2cq7 {
    margin-top: 34px;
  }

  .d168du6 {
    width: 400px;
    max-width: 100%;
    flex-direction: column;
    padding-left: 0px;
  }

  .qqrdeq6 {
    width: 100%;
    padding: 16px 0 0 0;
    margin-left: 0;
    line-height: 180%;
  }

  .dro68fj {
    width: 100%;
    padding: 8px 0 16px 0;
    line-height: 180%;
  }
}

.xgbc1mo {
  max-width: 100%;
  align-items: center;
  max-width: 100%;
  padding-top: 80px;
}

.u6xdbjx {
  position: absolute;
  left: -270px;
  top: -150px;
  width: 50%;
  max-width: 100%;

  height: 1169px;
  flex-shrink: 0;
  z-index: -1;
}

.iufv0g {
  width: 491px;
  height: 491px;
  position: absolute;
  right: -100px;
  top: -220px;
}

.kzcbz4c::before {
  content: "";
  width: 1092px;
  height: 643px;
  position: absolute;
  left: -1000px;
  top: 330px;
  border-radius: 1092px;
  background: radial-gradient(50% 50% at 50% 50%, #fff3fb 0%, #fff8f8 36.98%, rgba(253, 253, 253, 0) 100%);
  mix-blend-mode: multiply;
}

.kzcbz4c::after {
  content: "";
  width: 1092px;
  height: 643px;
  position: absolute;
  left: 0;
  top: 34px;
  border-radius: 1092px;
  background: radial-gradient(50% 50% at 50% 50%, #f3fbff 0%, #f8fbff 36.98%, rgba(253, 253, 253, 0) 100%);
  mix-blend-mode: multiply;
  z-index: -1;
}

.mhd8j5e {
  width: 1040px;
  padding: 0 32px 0 32px;
  padding-top: 120px;
  padding-bottom: 264px;
  align-items: center;
}

.aee005e {
  // margin-left: 104px;
  // position: absolute;
  // top: 0;
  // left: 0px;
  font-family: League Spartan;
  font-size: 96px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  background: linear-gradient(86deg, #000 -1.4%, #837aa9 46.29%, #473398 91.08%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gh31h0v {
  width: 100%;
  align-items: start;
  position: relative;
}

.c42bxpo {
  position: absolute;
  top: 100%;
  left: -8%;
  width: 247px;
  height: 1px;
  flex-shrink: 0;
  background: linear-gradient(to right, #3e0070 0%, #96d3ff 65%, #101920 100%);
}

.shl0x3k {
  width: 500px;
  margin-top: 104px;
  max-width: 100%;
}

.j0rnpvn {
  align-items: flex-start;
  gap: 2px;
  margin-top: 24px;
}

.zvdnncg {
  color: #0f1134;
  font-family: Noto Sans JP;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%;
  /* 28px */
  letter-spacing: 0.7px;
}

.v3tit50,
.lrlc90 {
  width: 500px;
  max-width: 100%;

  height: 48px;
  border-radius: 8px;
  border: 1px solid #415c84;
  flex-shrink: 0;
  padding-left: 16px;
}

.lrlc90 {
  color: #626262;
}

.yxb7og1 {
  width: 500px;
  max-width: 100%;

  border-radius: 8px;
  padding-left: 16px;
  padding-top: 8px;
  border: 1px solid #415c84;
  height: 225px;
  flex-shrink: 0;
}

.xligv6a {
  margin-top: 24px;
  width: 500px;
  max-width: 100%;
  text-align: center;

  height: 55px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #415c84;
  flex-shrink: 0;
  padding-left: 16px;
  border-radius: 8px;
  background: linear-gradient(86deg, #837aa9 -1.4%, #334998 91.08%);
  color: #ffffff;
  cursor: pointer;
}

@media screen and (max-width: 540px) {
  .xgbc1mo {
    margin: 0 auto;
    margin-top: 100px;
    padding-top: 10px;
  }

  .u6xdbjx {
    position: absolute;
    left: -270px;
    top: 130px;
    width: 556.592px;
    height: 690.718px;
    flex-shrink: 0;
    z-index: -1;
  }

  .iufv0g {
    width: 231px;
    height: 231px;
    position: absolute;
    right: -60px;
    top: -140px;
    z-index: 2;
    transform: rotate(23.098deg);
  }

  .kzcbz4c::before {
    content: "";
    width: 470px;
    height: 277px;
    position: absolute;
    left: -450px;
    top: 344px;
    border-radius: 470px;
  }

  .kzcbz4c::after {
    content: "";
    width: 470px;
    height: 307px;
    position: absolute;
    right: -332px;
    top: 10px;
    border-radius: 470px;
    background: radial-gradient(50% 50% at 50% 50%, #f3fbff 0%, #f8fbff 36.98%, rgba(253, 253, 253, 0) 100%);
    mix-blend-mode: multiply;
    z-index: -1;
  }

  .mhd8j5e {
    margin: 0 32px;
    width: 390px;
    max-width: 100%;
    padding: 150px, 32px, 264px;
    align-items: flex-start;
  }

  .aee005e {
    font-size: 48px;
  }

  .c42bxpo {
    width: 120px;
  }

  .c42bxpo::before {
    content: "";
    position: absolute;
    left: 340px;
    top: 50px;
    width: 120px;
    height: 1px;
    flex-shrink: 0;
    background: linear-gradient(to right, #3e0070 0%, #96d3ff 65%, #101920 100%);
  }

  .c42bxpo::after {
    content: "";
    position: absolute;
    left: -50px;
    top: 950px;
    width: 120px;
    height: 1px;
    flex-shrink: 0;
    background: linear-gradient(to right, #3e0070 0%, #96d3ff 65%, #101920 100%);
  }

  .shl0x3k {
    width: 500px;
    margin: 0 auto;
    margin-top: 104px;
  }

  .j0rnpvn {
    align-items: flex-start;
    gap: 2px;
    margin-top: 24px;
  }

  .zvdnncg {
    color: #0f1134;
    font-family: Noto Sans JP;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
    letter-spacing: 0.7px;
  }

  .v3tit50,
  .lrlc90 {
    width: 500px;
    max-width: 100%;
    height: 48px;
    border-radius: 8px;
    border: 1px solid #415c84;
    flex-shrink: 0;
    padding-left: 16px;
  }

  .lrlc90 {
    color: gray;
    background-color: white;
  }

  .yxb7og1 {
    width: 500px;
    max-width: 100%;

    border-radius: 8px;
    padding-left: 16px;
    padding-top: 8px;
    border: 1px solid #415c84;
    height: 225px;
    flex-shrink: 0;
  }

  .xligv6a {
    margin-top: 24px;
    width: 500px;
    max-width: 100%;

    height: 55px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #415c84;
    flex-shrink: 0;
    padding-left: 16px;
    border-radius: 8px;
    background: linear-gradient(86deg, #837aa9 -1.4%, #334998 91.08%);
    color: #ffffff;
    cursor: pointer;
  }
}

// フッター
.fpwcck4 {
  height: 190px;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.rc1st50 {
  height: 190px;
  width: 100%;
  max-width: 100%;
  background-color: #000;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.hrnaz24 {
  width: 117px;
  height: 53px;
}

.zpn244q {
  color: #fff;
  font-family: A-OTF Gothic BBB Pr6;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%;
  letter-spacing: 0.6px;
}

@media screen and (max-width: 540px) {
  #header .head {
    height: 80px;
    width: 100%;
    padding: 0;
    padding-left: 16px;
  }

  #header .head-left {
    justify-content: flex-start;
    position: fixed;
    top: 0px;
    padding-top: 16px;
    width: 90px;
    height: 40.769px;
  }

  #header .head-right {
    display: none;
  }
  #header .head .drawer-icon {
    display: block;
  }
}
